<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css" type="text/css">
    <title>System Biblioteczny - Szczegóły Autora</title>
</head>
<body>
<header>
    <h1>Szczegóły Autora</h1>
</header>

<nav>
    <ul>
        <li><a href="/index">Strona Główna</a></li>
        <li><a href="/readers">Czytelnicy</a></li>
        <li><a href="/books">Dostępne Książki</a></li>
        <li><a href="/loans">Wypożyczenia</a></li>
        <li><a href="/authors">Autorzy</a></li>
    </ul>
</nav>

<section class="main-content">
    <h2>Szczegóły Autora</h2>
    <div>
        <h3>Imię: <%= author.Imie %></h3>
        <p>Nazwisko: <%= author.Nazwisko %></p>
        <h2>Książki</h2>
        <table>
            <thead>
            <tr>
                <th>Tytuł Książki</th>
                <th>Gatunek</th>
                <th>Opis Gatunku</th>
            </tr>
            </thead>
            <tbody>
            <% books.forEach(ksiazka => { %>
                <tr>
                    <td><%= ksiazka.Nazwa_ksiazki %></td>
                    <td><%= ksiazka.Gatunek %></td>
                    <td><%= ksiazka.Opis %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</section>

<footer>
    <p>&copy; 2024 System Biblioteczny</p>
</footer>
</body>
</html>
