
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>System Biblioteczny</title>
</head>
<body>
    <header>
        <h1>Witaj w Systemie Bibliotecznym</h1>
    </header>

    <nav>
        <ul>
            <li><a href="index">Strona Główna</a></li>
            <li><a href="readers">Czytelnicy</a></li>
            <li><a href="books">Dostępne Książki</a></li>
            <li><a href="loans">Wypożyczenia</a></li>
            <li><a href="authors">Autorzy</a></li>
        </ul>
    </nav>

    <section class="main-content">
        <h2>Lista Czytelników</h2>
        <a href="add_reader" class="button">Dodaj</a>
        <table>
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            <% readers.forEach(reader => { %>
                <tr>
                    <td><%= reader.Imie %></td>
                    <td><%= reader.Nazwisko %></td>
                    <td>
                        <a href="/readers/edit/<%= reader.id_czytelnika %>" class="button">Edytuj</a>
                        <a href="/readers/delete/<%= reader.id_czytelnika %>" class="button" onclick="return confirm('Czy na pewno chcesz usunąć?')">Usuń</a>
                        <a href="/readers/details/<%= reader.id_czytelnika %>" class="button">Szczegóły</a>
                    </td>
                </tr>
            <% }); %>

            </tbody>
        </table>
    </section>

     <footer>
        <p>&copy; 2024 System Biblioteczny</p>
    </footer>
</body>
